<%- include("./partials/header") -%>
<div class="content-container">
  <h2 class="content">About This!</h2>
  <p class="content"><%=stringcontent%></p>
</div>
<!-- please change the footer in style.css after changing the text -->
<%- include("./partials/footer") -%>
