<%- include("./partials/header") -%>
<div class="content-container">
  <h2 class="content">Contact Us!</h2>
  <p class="content"><%=stringcontent%></p>
</div>

<%- include("./partials/footer") -%>
